/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.adala-template {
	padding: 40px 15px;
}

.no-padding {
	padding: 0px !important;
}

.no-round-corneners {
	border-radius: 0px !important;
}

.no-border {
	border: none;
}

.panel-fixed-size {
	height: 197px;
}

.male {
	color: DeepSkyBlue;
}

.female {
	color: DeepPink;
}